.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#1F8A89;
    color: white;
    text-align: center;
    height: 25px;    
    display: flex;
    justify-content: center;
    flex-direction: column;

 }


